<!-- <div class="container">
<div class="ro">   
<div class="row"> 
  <div class="col-2"> 
    <app-header></app-header>    
   </div> 
<div class="col-10">
    <div class="row"> 
    <app-body></app-body>
    </div> 
    <div class="row"> 
    <app-footer></app-footer>
    </div> 
</div> 
</div> 
</div> -->

<div class="container">
  <div class="row"> 
    <div class="col-2"> 
        <app-sidebar></app-sidebar>
     </div> 
  <div class="col-10 " >
      <div class="row"> 
       <app-navbar></app-navbar>
      </div> 
      <div class="row" class="body"> 
        <app-body></app-body>
      </div> 
      <div class="row"> 
        <app-footer></app-footer>
      </div> 
  </div> 
  </div> 
</div>


